/* components */
@import "./components/bottom_navbar.css";
@import "./components/app.css";
@import "./components/main_navbar.css";

/* screens */
@import "screens/signup.css";
@import "screens/delete-account.css";
@import "screens/profile-edit.css";
@import "screens/login.css";
@import "screens/find-pw.css";
@import "screens/mypage.css";
@import "screens/alarm-set.css";
@import "screens/alarm-add.css";
@import "screens/main.css";
@import "screens/community_all.css";
@import "screens/write_community.css";
