/* header-nav */
.header-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  color: white;
  position: relative;
}

/* main-content */
.main-content {
  width: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  margin: 0 auto;
}

/* 알람 이름 */
.alarm-title-group {
  display: flex;
  flex-direction: column;
}

.alarm-title,
.alarm-set {
  font-size: 12px;
  color: #f8fafa;
  font-weight: 400;
  margin: 5px;
}

.alarm-title-input {
  width: 273px;
  height: 43px;
  background-color: #383838;
  color: #7d7d7d;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

/* 시간 설정 */
.alarm-set-group {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.scroll-container {
  position: relative;
  width: 273px;
  height: 244px;
  background-color: #2d2d2d;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selection-box {
  position: absolute;
  width: 240px;
  height: 32px;
  background-color: #373737;
  border: none;
  border-radius: 10px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.scroll-select {
  width: 60px;
  height: 200px;
  overflow-y: auto;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-select-ampm {
  width: 60px;
  height: 80px;
  overflow-y: auto;
  z-index: 2;
  scrollbar-width: none;
}

.scroll-select::-webkit-scrollbar {
  display: none;
}

.scroll-option {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #7d7d7d;
  transition: color 0.3s;
}

.scroll-option.selected {
  color: white;
}

.separator {
  width: 2.62px;
  height: 8.56px;
  color: white;
  font-weight: 700;
  z-index: 3;
  display: flex;
  align-items: center;
}

.alarm-add-btn {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #3b89ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
}
