/* header-nav */
.header-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  color: white;
  position: relative;
}

.arrow-left {
  padding-left: 15px;
  flex: 1;
  text-decoration: none;
  color: white;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
.spacer {
  flex: 1;
}

/* main-content */
.main-content {
  width: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 273px;
  margin: 15px 0;
}

.form-label-group {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 5px;
}

.form-label {
  color: white;
}

.form-label-group span {
  color: #ff3838;
}

.form-input {
  font-size: 16px;
  background-color: #383838;
  color: #7d7d7d;
  border: none;
  border-radius: 10px;
  height: 43px;
  padding-left: 10px;
}

.profile-edit-btn {
  width: 120px;
  height: 44px;
  background-color: #3b89ff;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
}

footer {
  height: 34px;
  background-color: #2d2d2d;
}
