* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #262626;
    margin: 0 auto;
}

.notch-area {
    background-color: #262626;
    width: 100%;
    height: 44px;
  }