/* bottom-nav */
.bottom-nav {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2d2d2d;
  border-width: 0.5px 0.5px 0px 0.5px;
  border-style: solid;
  border-color: #5a5a5a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
}

.bottom-nav a {
  text-decoration: none;
}

.bottom-nav img {
  width: 32px;
  height: 32px;
  transition: filter 0.3s ease; /* 필터를 사용하여 색상 전환 */
  filter: brightness(0) saturate(100%) invert(49%) sepia(0%) saturate(0%)
    hue-rotate(231deg) brightness(90%) contrast(90%);
}

.bottom-nav p {
  font-size: 6px;
  transition: color 0.3s ease; /* 텍스트 색상 전환 */
  color: #7d7d7d;
}

.bottom-nav a.active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(103%) contrast(103%);
}
.bottom-nav a.active p {
  color: white;
}

.move-to-alarm,
.move-to-timer,
.move-to-mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
